.window {
    color: #FFFFFF;
    background-color: #212121;
    display: inline-block;
    margin-top: 3%;
    margin-left: 7%;
    width: 80%;
    font-size: 32px;
}

#hash {
    border: none;
    padding-top: 0%;
    margin-top: 0%;
    width: 10%;
    vertical-align: middle;
}

#inputholder {
    color: #FFFFFF;
    background-color: #212121;
    border: none;
    font-size: 32px;
    width: 90%;

}

body {
    background-color: #2196f3;
}
