<!doctype html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8"/>

    <title>Twitter app</title>
    <meta name="author" content="Ivan Scvh"/>


    <link rel="stylesheet" type="text/css" media="all" href="../static/styles.css"
          th:href="@{styles.css}"/>


</head>

<body>

<div id="siteholder">
    <div class="window" id="input">
        <div id="hash">Shift+Ctrl to submit</div>
        <textarea id="inputholder"></textarea>
    </div>
    <div id="outputHolder">

    </div>
</div>

<script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js}"></script>

<script type="text/javascript"
        th:src="@{logic.js}"></script>
<script>main()</script>

</body>

</html>
